<nav class="nav-bar">
  <div class='logo-part'>
    <img src="/images/logo.png" alt="logo">
    <a href="/posts">Tragoler</a>
  </div>
  <div class='sign-part'>
    <form action="/logout" method="POST">
      <button class="LogOutBtn">Log Out</button>
    </form>
  </div>
</nav>

<section class='Post-layout'>

  <h1>{{country}} Post</h1>

  <div class="dropdown">
    <select name="select-city" onchange="location = this.value;">
      <option value="">Select-City</option>
      {{#each cities}}
        <option value="/posts/{{../country}}/{{this}}">{{this}}</option>
      {{/each}}
    </select>
    
    <a href="/posts/create-new/{{country}}" class="createBtn"><img src="/images/create.png" alt="create"></a>
  </div>



  {{#each posts}}

  <div class='eachPost-layout'>
    <div class="title">

      <h3>{{this.author.username}}</h3>

      {{#if this.owned}}
      <div>

        <form action="/posts/delete/{{this._id}}/{{this.country}}" method="POST">
          <button class="deleteBtn"><img src="/images/delete.png" alt="deleteBtn"></button>
        </form>

        <button class="editBtn">
          <a href="/posts/edit/{{this._id}}/country"><img src="/images/edit.png" alt="editBtn"></a>
        </button>

      </div>
      {{/if}}


    </div>

    <div class="content">

     <h1>{{this.title}}</h1>

     <img src="{{this.img}}">
     
     <p>{{this.content}}</p>

    <button class='LikesBtn' name={{this._id}}>Likes {{this.likes.length}}</button>
    <button class="viewComments">Comments</button>
        
    </div>


    <div class="comments-sec">
        {{#each this.comments}}
          <div class='eachComment'>

            <p><b>{{this.author.username}}:</b> {{this.content}}</p>
            {{#if this.owned}}
              <button class='comment-delete' name={{../this._id}} id={{this._id}}><img src="/images/delete.png" alt="deleteBtn"></button>
            {{/if}}

          </div>
        {{/each}}
      </div>


    <div>
      <input type="text" class='comments' id={{this._id}}>
      <button class='comments-btn'>reply</button>
    </div>
  </div>
  {{/each}}
</section>