<h1>Posts</h1>


<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Select Countries</button>
  <div id="myDropdown" class="dropdown-content">
    {{#each countries}}
        <a href='/posts/{{this}}'>{{this}}</a>
    {{/each}}
  </div>
</div>


{{#each posts}}

<div>
    <hr>

    <h3>{{this.title}}</h3>

    <p>{{this.content}}</p>

    <p>by: {{this.author.username}}</p>

    <hr>
    <button class='LikesBtn' name={{this._id}}>Likes</button>

    {{#if this.owned}}

    <form action="/posts/delete/{{this._id}}" method="POST"><button>Delete This Post</button></form>

    <button>

      <a href="/posts/edit/{{this._id}}">Edit This Post</a>

    </button>
    {{/if}}
    
    <div class="comments-sec">
      {{#each this.comments}}
        <h5>by {{this.author.username}}</h5>
        <p>{{this.content}}</p>
        {{#if this.owned}}
          <button class='comment-delete' name={{../this._id}} id={{this._id}}>Delete</button>
        {{/if}}
      {{/each}}
    </div>

    <div>
      <h5>comments</h5>
      <input type="text" class='comments' id={{this._id}}>
      <button class='comments-btn'>reply</button>
    </div>


</div>

{{/each}}