<h1>Posts</h1>


<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Select Countries</button>
  <div id="myDropdown" class="dropdown-content">
    {{#each countries}}
        <a href='/posts/{{this}}'>{{this}}</a>
    {{/each}}
  </div>
</div>




{{#each posts}}

<div>
    <hr>

    <h3>{{this.title}}</h3>

    <p>{{this.content}}</p>

    <p>by: {{this.author.username}}</p>

    <hr>

    {{#if this.owned}}

    <form action="/posts/delete/{{this._id}}" method="POST"><button>Delete This Post</button></form>

    <button>

      <a href="/posts/edit/{{this._id}}">Edit This Post</a>

    </button>
    {{/if}}





</div>

{{/each}}